
body{
    /* background-color: #F69430; */
    
    /* margin: auto; */
    
    font-family: 'Poppins', sans-serif;
    background-image: url("/img/Ресурс\ 1png.png ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 850px;
}   
.main{
    width: 670px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;    
    background-color:#E1E1E1;
    
}
/* .img-main{
    position:static;
    
} */
.h-main{
    text-align: center;
}
.main-p{
    
    left: 30.89%;
    right: 40.61%;
    top: 22.84%;
    bottom: 70.11%;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 47px;

    color: #30333F;
}
.button1{
    text-align: center;
    margin: 10px;
}
.button3{
    margin-top: 15px;
    width: 185px;
    height: 60px;
    background-color: #e65848;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;

}
.email{
    width: 320px;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: #C4C2C1;
}
.password{
    width: 320px;
    height: 58px;
    padding-left: 20px;
    padding-right: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #C4C2C1;
}
.checbox{
    margin-top: 30px;
    flex-direction: row;
    justify-content: space-between;
   

}
.button-sign{
    text-align: center;
    float: left;
    margin-left: 125px;
    padding-bottom: 70px;
}
.box-remember{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
color:white ;
}
.ref-sign{
    color: white;
    
}
.ref-password{
    color: black;
    text-decoration: none;
    float: left;
    
    padding-top: 20px; 
}
.img-email{
    position: relative;
    left: 5px;
    top:26px;
}
.img-password{
    position: relative;
    left: 5px;
    top: 25px;
}
.checkbox-remember{
    color: black;
    
    
}
